html {
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none;
  font-weight: 400; }

h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  font-weight: 600;
  position: relative;
  text-shadow: 2px 2px 5px #000000; }
  @media (min-width: 400px) {
    h1 {
      font-size: 55px;
      margin: 0; } }
  @media (min-width: 650px) {
    h1 {
      font-size: 90px; } }
  @media (min-width: 1000px) {
    h1 {
      font-size: 120px; } }

h2 {
  text-align: center;
  color: #1F3566;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0; }
  @media (min-width: 400px) {
    h2 {
      font-size: 60px;
      margin: 0; } }

h3 {
  color: white;
  font-size: 40px;
  margin: 0;
  font-weight: 600; }
  @media (min-width: 400px) {
    h3 {
      font-size: 50px; } }

h4 {
  color: white;
  font-size: 18px;
  margin: 0;
  font-weight: 400; }

p {
  text-align: center;
  color: #1F3566;
  font-weight: 400; }
  @media (min-width: 400px) {
    p {
      margin: 5px auto 15px auto;
      width: 80%;
      max-width: 700px; } }

header {
  text-align: center; }

.primary-nav {
  display: none; }
  @media (min-width: 800px) {
    .primary-nav {
      display: block;
      width: 100%;
      height: 60px;
      position: fixed;
      background-color: white;
      box-shadow: 0 0 6px #444;
      z-index: 10; } }

.primary-nav-wrapper {
  max-width: 960px;
  margin: 0 auto; }

@media (min-width: 800px) {
  .site-inner {
    padding-top: 60px; } }

.nav-logo {
  width: 200px;
  vertical-align: middle;
  display: inline-block; }

.nav-element {
  display: block;
  color: #1F3566; }
  @media (min-width: 800px) {
    .nav-element {
      display: inline-block;
      padding: 0 10px; } }

.nav-element:hover {
  color: #CB704A;
  -webkit-transition: .2s;
  transition: .2s; }

.nav-element-wide {
  display: inline; }

.nav-element-narrow {
  font-size: 25px; }

.nav-logo-narrow {
  margin: 0 auto;
  display: block; }
  @media (min-width: 800px) {
    .nav-logo-narrow {
      display: none; } }

.hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  content: ""; }
  @media (min-width: 800px) {
    .hamburger {
      display: none; } }

.bar {
  width: 25px;
  background-color: black;
  height: 2px;
  margin-top: 5px;
  border-radius: 1px; }

.bar-2 {
  top: 18px; }

.bar-3 {
  top: 26px; }

.slide-out-nav {
  position: fixed;
  left: -45vw;
  top: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  width: 45vw;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  z-index: 100; }

.nav-element-narrow-wrapper {
  padding: 30px;
  position: relative; }

.nav-active {
  left: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-animation-name: over-shoot;
          animation-name: over-shoot;
  -webkit-animation-duration: .2s;
          animation-duration: .2s; }

@-webkit-keyframes over-shoot {
  0% {
    width: 45vw; }
  50% {
    width: 60vw; }
  100% {
    width: 45vw; } }

@keyframes over-shoot {
  0% {
    width: 45vw; }
  50% {
    width: 60vw; }
  100% {
    width: 45vw; } }

.darken {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  background-color: #D3D3D3; }

.close-button {
  font-size: 50px;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 1;
  color: #1F3566; }

.title-accent {
  display: none; }
  @media (min-width: 1000px) {
    .title-accent {
      display: block;
      font-size: 200px;
      color: rgba(119, 119, 119, 0.4);
      position: relative;
      top: -240px;
      z-index: 1; } }

.section {
  text-align: center; }

.divider {
  width: 50%;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  max-width: 700px; }

.btn {
  padding: 5px 20px;
  border: 2px solid blue;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.white {
  color: white; }

.btn-white {
  color: white;
  border: 2px solid white; }

.leader {
  padding-top: 10px;
  text-align: center;
  background-image: url(../img/photos/fuji-rock-mobile.jpg);
  height: 400px;
  background-size: cover;
  background-position: top; }
  @media (min-width: 800px) {
    .leader {
      background-image: url(../img/photos/fuji-rock.jpg);
      height: calc(100vh - 60px); } }

.about-home {
  background-image: url(../img/photos/team-mobile.jpg);
  background-size: cover;
  padding: 100px 10px; }
  @media (min-width: 800px) {
    .about-home {
      background-image: url(../img/photos/team.jpg);
      padding: 200px 10px; } }

.slogan {
  background-image: url(../img/photos/fuji.JPG);
  background-size: cover;
  padding: 100px 10px; }
  @media (min-width: 800px) {
    .slogan {
      background-image: url(../img/photos/fuji.JPG);
      padding: 200px 10px; } }

.destinations {
  background-size: cover;
  padding: 10px 10px 50px 10px; }
  @media (min-width: 800px) {
    .destinations {
      padding: 60px 10px; } }

@media (min-width: 1000px) {
  .destination-wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 960px; } }

.destination {
  height: 300px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
  -webkit-transition: .2 ease-in-out;
  transition: .2 ease-in-out; }
  @media (min-width: 1000px) {
    .destination {
      height: 300px;
      width: 300px;
      float: left; } }

.destination:hover {
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px); }

.destination-1 {
  background-image: url(../img/photos/shikoku-2.JPG);
  background-size: cover; }

.destination-2 {
  background-image: url(../img/photos/hokkaido-2.JPG);
  background-size: cover; }

.destination-3 {
  background-image: url(../img/photos/kyushuu.JPG);
  background-size: cover; }

.tour-types {
  padding-bottom: 50px; }
  @media (min-width: 1000px) {
    .tour-types {
      padding: 80px 0; } }

.tour-types-wrapper {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 1000px) {
    .tour-types-wrapper {
      display: block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 960px; } }

.tour-type {
  width: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
  -webkit-transition: .2 ease-in-out;
  transition: .2 ease-in-out;
  background-size: cover;
  background-position: bottom; }

.tour-type:hover {
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px); }

.tour-type:nth-child(2):hover {
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: translateX(2px);
          transform: translateX(2px); }

.tour-type-1 {
  background-image: url(../img/photos/old-bike.jpg); }

.tour-type-2 {
  background-image: url(../img/photos/mountain.jpg); }

.tour-type-3 {
  background-image: url(../img/photos/water-tori.jpg);
  background-position: top; }

.booking {
  background-image: url(../img/photos/hokkaido-5-mobile.jpg);
  background-size: cover;
  padding: 100px 10px;
  background-position: center; }
  @media (min-width: 800px) {
    .booking {
      background-image: url(../img/photos/hokkaido-5.JPG);
      padding: 200px 10px; } }

.instagram-feed {
  position: relative;
  white-space: nowrap;
  overflow: scroll;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  cursor: -webkit-grab;
  cursor: grab;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (min-width: 800px) {
    .instagram-feed {
      padding-top: 0; } }

::-webkit-scrollbar {
  display: none; }

.insta-wrapper-mobile {
  height: 50px;
  text-align: center;
  padding: 40px 0 50px 0;
  display: block; }
  @media (min-width: 800px) {
    .insta-wrapper-mobile {
      padding: 20px 0 20px 0; } }

.insta-logo-mobile {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto; }
  @media (min-width: 800px) {
    .insta-logo-mobile {
      display: inline-block;
      vertical-align: middle;
      padding: 0 20px; } }

.insta-wrapper {
  display: none; }
  @media (min-width: 800px) {
    .insta-wrapper {
      position: absolute;
      text-align: center;
      height: 302px;
      width: 302px;
      background-color: rgba(255, 255, 255, 0.9);
      cursor: pointer; } }

.hashtag {
  color: #1F3566;
  display: inline-block; }

.arrow-wrapper {
  position: absolute;
  width: 80%;
  max-width: 1200px;
  height: 300px;
  background-color: blue; }

.next-arrows {
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: ease-in-out;
  transition: ease-in-out; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }
  @media (min-width: 800px) {
    .next-arrows {
      padding-left: 40px; } }

.flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.insta-logo {
  height: 200px;
  padding: 30px; }

.insta-message {
  display: inline-block; }
  @media (min-width: 800px) {
    .insta-message {
      display: inline-block;
      vertical-align: middle; } }

.insta-img {
  display: inline-block;
  background-size: cover;
  height: 300px;
  width: 300px; }

.insta-img-1 {
  background-image: url(../img/photos/insta-1.jpg); }

.insta-img-2 {
  background-image: url(../img/photos/insta-2.jpg); }

.insta-img-3 {
  background-image: url(../img/photos/insta-3.jpg); }

.insta-img-4 {
  background-image: url(../img/photos/insta-4.jpg); }

.insta-img-5 {
  background-image: url(../img/photos/insta-5.jpg); }

footer {
  background-color: #1F3566;
  padding: 10px 0;
  text-align: center; }

.secondary-nav {
  text-align: center;
  max-width: 800px;
  margin: 0 auto; }
  .secondary-nav .nav-element {
    color: white; }
    @media (min-width: 800px) {
      .secondary-nav .nav-element {
        display: inline-block; } }

.secondary-nav-logo {
  display: block;
  margin: 0 auto;
  width: 175px; }

.secondary-nav-wrapper {
  text-align: center; }

.legal-link {
  color: white;
  display: block;
  font-size: 12px; }

.page-splash {
  background-size: cover;
  padding: 100px 10px; }
  @media (min-width: 800px) {
    .page-splash {
      background-position: top;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: calc(100vh - 60px); }
      .page-splash h2 {
        text-shadow: 2px 2px 5px #000000; } }

.center-wrapper {
  display: block; }
  @media (min-width: 800px) {
    .center-wrapper {
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      max-width: 1200px; } }

.half-pic-half-text-text {
  text-align: center;
  width: 96%;
  margin: 40px auto 60px auto; }
  @media (min-width: 800px) {
    .half-pic-half-text-text {
      width: 48%;
      height: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0; } }

.half-pic-half-text-pic {
  margin: 0 auto;
  width: 94%;
  height: 400px;
  background-size: cover; }
  @media (min-width: 800px) {
    .half-pic-half-text-pic {
      width: 48%;
      height: 400px; } }

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.about-splash {
  background-image: url(../img/photos/two-shot-mobile.jpg); }
  @media (min-width: 800px) {
    .about-splash {
      background-image: url(../img/photos/two-shot.jpg); } }

.page-background {
  background-image: url(../img/photos/team-group-mobile.jpg);
  background-size: cover;
  padding: 100px 10px;
  background-position: center; }
  @media (min-width: 800px) {
    .page-background {
      background-image: url(../img/photos/team-group.jpg);
      padding: 200px 10px; } }

.page-nobackground {
  background-size: cover;
  padding: 100px 10px;
  background-position: center; }
  @media (min-width: 800px) {
    .page-nobackground {
      padding: 200px 10px; } }

.page-team {
  padding: 20px 0; }
  @media (min-width: 800px) {
    .page-team {
      padding: 50px 0; } }

.page-half-text-1 {
  padding: 20px 0; }
  @media (min-width: 800px) {
    .page-half-text-1 {
      padding: 50px 0 0 0; } }

.page-half-text-2 {
  padding: 20px 0; }
  @media (min-width: 800px) {
    .page-half-text-2 {
      padding: 50px 0 0 0; } }

.page-half-text-3 {
  padding: 20px 0; }
  @media (min-width: 800px) {
    .page-half-text-3 {
      padding: 50px 0; } }

.page-japan {
  padding: 20px 0; }
  @media (min-width: 800px) {
    .page-japan {
      padding: 50px 0; } }

.half-half {
  display: block; }
  @media (min-width: 800px) {
    .half-half {
      width: 100%;
      max-width: 960px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: 0 auto; } }

.half-half-outer-wrapper {
  width: 100%;
  display: block;
  padding: 0 10px;
  box-sizing: border-box; }
  @media (min-width: 800px) {
    .half-half-outer-wrapper {
      box-sizing: border-box;
      width: 398px;
      display: inline-block; } }

.half-half-inner-wrapper {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: content-box;
  margin: 20px auto 0 auto; }
  @media (min-width: 800px) {
    .half-half-inner-wrapper {
      height: 380px;
      width: 380px; } }

.half-half-inner-wrapper-page-japan {
  height: auto;
  width: 100%; }

.half-half-description {
  width: 100%;
  padding-top: 20px; }
  @media (min-width: 800px) {
    .half-half-description {
      width: 90%; } }

.inside-description {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px; }

.ben {
  background-image: url(../img/photos/ben.jpg); }

.james {
  background-image: url(../img/photos/james.jpg); }

.japan-splash {
  background-image: url(../img/photos/japan-splash-mobile.jpg); }
  @media (min-width: 800px) {
    .japan-splash {
      background-image: url(../img/photos/japan-splash.jpg); } }

.colors {
  background-image: url(../img/photos/trees.jpg); }

.contact-splash {
  background-image: url(../img/photos/flower-mobile.jpg); }
  @media (min-width: 800px) {
    .contact-splash {
      background-image: url(../img/photos/flower.jpg); } }

.tour-types-splash {
  background-image: url(../img/photos/road-bend-mobile.jpg);
  background-position: bottom; }
  @media (min-width: 800px) {
    .tour-types-splash {
      background-image: url(../img/photos/road-bend.jpg); } }

.destinations-splash {
  background-image: url(../img/photos/rice-fields-mobile.jpg);
  background-position: bottom; }
  @media (min-width: 800px) {
    .destinations-splash {
      background-image: url(../img/photos/rice-fields.jpg); } }

.booking-splash {
  background-image: url(../img/photos/roof-mobile.jpg); }
  @media (min-width: 800px) {
    .booking-splash {
      background-image: url(../img/photos/roof.jpg); } }
