
$base-color: #1F3566
$secondary-color: #CB704A
$text-shadow-darkletters: 2px 2px 5px #000000
$text-shadow-lightletters: 2px 2px 5px #000000

html
  font-family: 'Oswald', sans-serif
  box-sizing: border-box

a
  text-decoration: none
  font-weight: 400
h1
  text-align: center
  color: white
  font-size: 45px
  font-weight: 600
  position: relative
  text-shadow: $text-shadow-lightletters
  @media(min-width: 400px)
    font-size: 55px
    margin: 0

  @media(min-width: 650px)
    font-size: 90px
  @media(min-width:1000px)
    font-size: 120px
h2
  text-align: center
  color: $base-color
  font-size: 40px
  font-weight: 600
  margin-bottom: 0
  @media(min-width: 400px)
    font-size: 60px
    margin: 0
h3
  color: white
  font-size: 40px
  margin: 0
  font-weight: 600
  text-shadow: $text-shadow-lightletters
  @media(min-width: 400px)
    font-size: 50px

h4
  color: white
  font-size: 18px
  margin: 0
  font-weight: 400

p
  text-align: center
  color: $base-color
  font-weight: 400
  @media(min-width: 400px)
    margin: 5px auto 15px auto
    width: 80%
    max-width: 700px
header
  text-align: center

.primary-nav
  display: none
  @media(min-width: 800px)
    display: block
    width: 100%
    height: 60px
    position: fixed
    background-color: white
    box-shadow: 0 0 6px #444
    z-index: 10

.primary-nav-wrapper
  max-width: 960px
  margin: 0 auto


.site-inner
  @media(min-width: 800px)
    padding-top: 60px


.nav-logo
  width: 200px
  vertical-align: middle
  display: inline-block


.nav-element
  display: block
  color: $base-color


  @media(min-width: 800px)
    display: inline-block
    padding: 0 10px
.nav-element:hover
  color: $secondary-color
  transition: .2s
.nav-element-wide
  display: inline
.nav-element-narrow
  font-size: 25px


.nav-logo-narrow
  margin: 0 auto
  display: block
  @media(min-width: 800px)
    display: none
.hamburger
  position: fixed
  top: 10px
  right: 10px
  cursor: pointer
  content: ""
  @media(min-width: 800px)
    display: none
.bar
  width: 25px
  background-color: black
  height: 2px
  margin-top: 5px
  border-radius: 1px
.bar-2
  top: 18px
.bar-3
  top: 26px
.slide-out-nav
  position: fixed
  left: -45vw
  top: 0
  height: 100vh
  background-color: rgba(255,255,255, 0.9)
  width: 45vw
  transition: .2s ease-in-out
  z-index: 100

.nav-element-narrow-wrapper
  padding: 30px
  position: relative

.nav-active
  left: 0
  transition: .2s ease-in-out
  animation-name: over-shoot
  animation-duration: .2s
@keyframes over-shoot
  0% { width: 45vw}
  50% { width: 60vw}
  100% { width: 45vw}

.darken
  filter: grayscale(60%)
  background-color: #D3D3D3


.close-button
  font-size: 50px
  position: absolute
  top: -20px
  right: 0
  z-index: 1
  color: $base-color




.title-accent
  display: none
  @media(min-width: 1000px)
    display: block
    font-size: 200px
    color: rgba(119, 119, 119, 0.4)
    position: relative
    top: -240px
    z-index: 1

.section
  text-align: center

.divider
  width: 50%
  height: 50px
  display: block
  margin: 0 auto
  padding: 10px 0
  max-width: 700px

.btn
  padding: 10px 30px
  border: 2px solid $base-color
  display: inline-block
  margin: 0 auto 5px auto
  text-align: center
  transition: .5s ease-in-out
  color: $base-color
  background-color: white
  border-radius: 10px

.btn:hover
  transition: .2s ease-in-out
  box-shadow: 1px 1px 8px #999




.white
  color: white

.btn-white
  color: white
  border: 2px solid white
  background-color: rgba(255,255,255, 0)

.leader
  padding-top: 10px
  text-align: center
  background-image: url(../img/photos/fuji-rock-mobile.jpg)
  height: 400px
  background-size: cover
  background-position: top
  @media(min-width:800px)
    background-image: url(../img/photos/fuji-rock.jpg)
    height: calc(100vh - 60px)


.about-home
  background-image: url(../img/photos/team-mobile.jpg)
  background-size: cover
  padding: 100px 10px
  @media(min-width:800px)
    background-image: url(../img/photos/team.jpg)
    padding: 200px 10px



.slogan
  background-image: url(../img/photos/fuji.JPG)
  background-size: cover
  padding: 100px 10px
  @media(min-width:800px)
    background-image: url(../img/photos/fuji.JPG)
    padding: 200px 10px

.destinations
  background-position: left
  background-repeat: no-repeat
  padding: 0 10px 50px 10px
  clear: both
  content: ""
  display: table
  width: 100%
  max-width: 1200px
  background-size: cover
  margin: 0 auto
  box-sizing: border-box
  @media(min-width: 400px)
    padding: 50px 10px
  @media(min-width: 800px)
    background-image: url(../img/design-elements/oi-kanji-01-01.svg)

.destinations-text-wrap
  padding-bottom: 50px
  @media(min-width: 800px)

    width: 50%
    max-width: 600px
    float: left
    padding: 160px 0

.destinations-wrapper
  float: none
  width: 100%
  text-align: center
  margin: 0 auto
  @media(min-width: 800px)
    width: 50%
    float: right

.destination-wrapper
  width: 95%
  max-width: 600px
  margin: 5px auto
  padding: 35px 0
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  transition: .2s ease-in-out
  box-shadow: 1px 1px 8px #999
  @media(min-width: 800px)
    margin: 5px 0
    box-shadow: none

.destination-wrapper:hover

  transition: .2s ease-in-out
  box-shadow: 1px 1px 8px #999
  h3:after
    width: 100px
    transition: .2s ease-in-out
    
.destination
  background-size: cover
  background-position: bottom
  opacity: .9

.destination-1
  background-image: url(../img/photos/shikoku-2.JPG)

.destination-2
  background-image: url(../img/photos/hokkaido-destination-2.jpg)

.destination-3
  background-image: url(../img/photos/mountain.jpg)

h3:after
  content: ""
  display: block
  margin: 0 auto
  height: 2px
  width: 60px
  background-color: #fff
  transition: .2s ease-in-out
//tour types
.ride-style
  padding: 100px 10px
  //background-image: url(../img/design-elements/japanese-bg-1.jpg)
  //background-image: url(../img/design-elements/flower-bg-1.svg)
  background-image: url(../img/design-elements/kaze-kanji-01.svg)
  background-position: right
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  max-width: 1200px
  margin: 0 auto
  box-sizing: border-box
  @media(min-width: 800px)

    padding: 200px 10px


.tour-types-wrapper
  width: 90%
  margin: 0 auto
  @media(min-width: 1000px)
    display: block
    align-items: center
    max-width: 960px
.tour-type
  width: 100%
  padding: 30px 0
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  margin: 10px auto
  transition: .2 ease-in-out
  background-size: cover
  background-position: bottom


.tour-type:hover
  transition: .1s
  transform: translateX(-2px)
.tour-type:nth-child(2):hover
  transition: .1s
  transform: translateX(2px)

.tour-type-1
  background-image: url(../img/photos/old-bike.jpg)

.tour-type-2
  background-image: url(../img/photos/mountain.jpg)

.tour-type-3
  background-image: url(../img/photos/water-tori.jpg)
  background-position: top





.booking
  background-image: url(../img/photos/hokkaido-5-mobile.jpg)
  background-size: cover
  padding: 100px 10px
  background-position: center
  @media(min-width:800px)
    background-image: url(../img/photos/hokkaido-5.JPG)
    padding: 200px 10px
.instagram-feed
  position: relative
  white-space: nowrap
  overflow: scroll
  width: 100%
  max-width: 1200px
  margin: 0 auto
  cursor: grab
  padding-top: 50px
  padding-bottom: 50px
  @media(min-width:800px)
    padding-top: 0
::-webkit-scrollbar
    display: none

.insta-wrapper-mobile
  height: 50px
  text-align: center
  padding: 40px 0 50px 0
  display: block
  @media(min-width:800px)
    padding: 20px 0 20px 0

.insta-logo-mobile
  height: 50px
  width: 50px
  display: block
  margin: 0 auto
  @media(min-width:800px)
    display: inline-block
    vertical-align: middle
    padding: 0 20px
.insta-wrapper
  display: none
  @media(min-width:800px)
    //display: block
    position: absolute
    text-align: center
    height: 302px
    width: 302px
    background-color: rgba(255,255,255, 0.9)
    cursor: pointer

.hashtag
  color: $base-color
  display: inline-block
.arrow-wrapper
  position: absolute
  width: 80%
  max-width: 1200px
  height: 300px
  background-color: blue

.next-arrows
  height: 40px
  display: inline-block
  vertical-align: middle
  animation-duration: 1.5s
  animation-name: blink
  animation-iteration-count: infinite
  transition: ease-in-out
  @keyframes blink
    0% { opacity: 1}
    50% { opacity: .2 }
    100% { opacity: 1 }
  @media(min-width:800px)
    padding-left: 40px
.flip
  transform: rotate(180deg)

.insta-logo
  height: 200px
  padding: 30px

.insta-message
  display: inline-block
  color:

  @media(min-width:800px)
    display: inline-block
    vertical-align: middle




.insta-img
  display: inline-block
  background-size: cover
  height: 300px
  width: 300px


.insta-img-1
  background-image: url(../img/photos/insta-1.jpg)
.insta-img-2
  background-image: url(../img/photos/insta-2.jpg)
.insta-img-3
  background-image: url(../img/photos/insta-3.jpg)
.insta-img-4
  background-image: url(../img/photos/insta-4.jpg)
.insta-img-5
  background-image: url(../img/photos/insta-5.jpg)

footer
  background-color: $base-color
  padding: 10px 0
  text-align: center
.secondary-nav
  text-align: center
  max-width: 800px
  margin: 0 auto
  .nav-element
    color: white
    @media(min-width: 800px)
      display: inline-block



.secondary-nav-logo
  display: block
  margin: 0 auto
  width: 175px
.secondary-nav-wrapper
  text-align: center

.legal-link
  color: white
  display: block
  font-size: 12px
//generic page styles
.page-splash
  background-size: cover
  padding: 100px 10px
  @media(min-width:800px)
    background-position: top
    padding: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: calc(100vh - 60px)
    h2
      text-shadow: $text-shadow-lightletters


.center-wrapper
  display: block
  @media(min-width:800px)
    margin: 0 auto
    display: flex
    justify-content: space-around
    max-width: 1200px
.half-pic-half-text-text
  text-align: center
  width: 96%
  margin: 40px auto 60px auto

  @media(min-width:800px)
    width: 48%
    height: 400px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 0



.half-pic-half-text-pic
  margin: 0 auto
  width: 94%
  height: 400px
  background-size: cover
  @media(min-width:800px)
    width: 48%
    height: 400px

.reverse
  flex-direction: row-reverse







//about page
.about-splash
  background-image: url(../img/photos/two-shot-mobile.jpg)
  @media(min-width:800px)
    background-image: url(../img/photos/two-shot.jpg)

.page-background
  background-image: url(../img/photos/team-group-mobile.jpg)
  background-size: cover
  padding: 100px 10px
  background-position: center
  @media(min-width:800px)
    background-image: url(../img/photos/team-group.jpg)
    padding: 200px 10px
.page-nobackground
  background-size: cover
  padding: 100px 10px
  background-position: center
  @media(min-width:800px)

    padding: 200px 10px

.page-team
  padding: 20px 0
  @media(min-width: 800px)
    padding: 50px 0
.page-half-text-1
  padding: 20px 0
  @media(min-width: 800px)
    padding: 50px 0 0 0
.page-half-text-2
  padding: 20px 0
  @media(min-width: 800px)
    padding: 50px 0 0 0
.page-half-text-3
  padding: 20px 0
  @media(min-width: 800px)
    padding: 50px 0
.page-japan
  padding: 20px 0
  @media(min-width: 800px)
    padding: 50px 0

.half-half
  display: block
  @media(min-width: 800px)
    width: 100%
    max-width: 960px
    display: flex
    justify-content: space-around
    margin: 0 auto
.half-half-outer-wrapper
  width: 100%
  display: block
  padding: 0 10px
  box-sizing: border-box
  @media(min-width: 800px)
    box-sizing: border-box
    width: 398px
    display: inline-block

.half-half-outer-wrapper-page-japan

.half-half-inner-wrapper
  width: 100%
  height: 300px
  display: flex
  background-size: cover
  justify-content: center
  flex-direction: column
  box-sizing: content-box
  margin: 20px auto 0 auto
  @media(min-width: 800px)
    height: 380px
    width: 380px

.half-half-inner-wrapper-page-japan
  height: auto
  width: 100%
.half-half-description
  width: 100%
  padding-top: 20px
  @media(min-width: 800px)
    width: 90%

.inside-description
  box-sizing: border-box
  padding-left: 10px
  padding-right: 10px
.ben
  background-image: url(../img/photos/ben.jpg)
.james
  background-image: url(../img/photos/james.jpg)

//japan
.japan-splash
  background-image: url(../img/photos/japan-splash-mobile.jpg)
  @media(min-width:800px)
    background-image: url(../img/photos/japan-splash.jpg)
.colors
  background-image: url(../img/photos/trees.jpg)

//contact
.contact-splash
  background-image: url(../img/photos/flower-mobile.jpg)
  @media(min-width:800px)
    background-image: url(../img/photos/flower.jpg)
//tour-types
.style-splash
  background-image: url(../img/photos/road-bend-mobile.jpg)
  background-position: bottom
  @media(min-width:800px)
    background-image: url(../img/photos/road-bend.jpg)

//Destinations
.destinations-splash
  background-image: url(../img/photos/rice-fields-mobile.jpg)
  background-position: bottom
  @media(min-width:800px)
    background-image: url(../img/photos/rice-fields.jpg)

//booking
.booking-splash
  background-image: url(../img/photos/roof-mobile.jpg)

  @media(min-width:800px)
    background-image: url(../img/photos/roof.jpg)
//destination-general

.shikoku-splash
  background-image: url(../img/photos/two-shot-mobile.jpg)
  @media(min-width:800px)
    background-image: url(../img/photos/shikoku-splash.jpg)
    background-position: center
  h2
    font-size: 140px
    line-height: 1

  h2:nth-child(1)
    font-size: 50px
    opacity: .8
  h2:nth-child(3)
    font-size: 50px
    opacity: .8
